<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        
        
        <div>
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a href="/login-fb">Log in</a>
            <a href="/logout-fb">Log out</a>
        </div>
        
        {{{body}}}
    </body>
</html>