
<style>
    *[data-import-csv]{
        padding:20px;
        border:1px dashed #aaa;
    }
    *[data-import-csv].Import{
        background:#aaa;
        color:#fff;
        border:1px dashed #fff;
    }
    ul.Labels{
        float:left;
        min-width:120px;
        margin:0;
        padding:0;
        background:#ddd;
        overflow:hidden;
    }
    ul.Labels li{
        display:block;
        position:relative;
        float:left;
        width:15px;
        height:15px;
        margin:2px;
        border:1px solid #444;
        background:none;
    }
    ul.Labels li.Active{
        background:#000;
    }
</style>

<div class="container">
    <div class="row" ng-app="Application" ng-controller="Controller">

<div data-import-csv="project.training">drag CSV here to import</div>

<form ng-submit="upload();">
    <input type="hidden" name="id" value="{{_id}}" data-project-id="project._id"/>
    <input ng-model="project.profile.name" type="text"/>
    <button>upload current project</button>
</form>

<table>
    <thead>
        <th>Labels Human</th>
        <th>Labels Machine</th>
        <th ng-repeat="column in project.training.head track by $index">{{column.label}} {{$index}}</th>
    </thead>
    <tbody>
        <tr ng-repeat="row in project.training.body track by $index">
            <td>
                <ul class="Labels Human">
                    <li
                    ng-repeat="label in row.label.human track by $index"
                    ng-class="{'Active':row.label.human[$index] != false}"
                    ng-click="row.label.human[$index] = !row.label.human[$index]"></li>
                </ul>
            </td>
            <td>
                <ul class="Labels Machine">
                    <li ng-repeat="label in row.label.machine track by $index"></li>
                </ul>
            </td>
            <td ng-repeat="cell in row.data track by $index">{{cell}}</td>
        </tr>
    </tbody>
</table>
        
    </div>
</div>
<script src="/static/editor.js"></script>