<div class="container">
    <div class="row">
        <div class="jumbotron">
        <h1>Pondermatic</h1>
        <p>
            Machine learning in your browser!
            <br/>
            Upload CSV data, add labels, and let `er rip
        </p>
        <p><a class="btn btn-primary btn-lg" href="/login-fb" role="button">Log In</a></p>
        </div>
    </div>
</div>