<h2>profile</h2>
<strong>{{profile.name}}</strong>
<span>{{profile.id}}</span>

<h3>projects</h3>
{{#each projects}}
    <dl>
        <dt>{{profile.name}}</dt>
        <dd>{{_id}}</dd>
    </dl>
{{/each}}