<!document>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="http://treetopflyer.github.io/vcore/lib.js"></script>
        <script src="http://treetopflyer.github.io/NN/lib.js"></script>

    </head>
    <body ng-app="Application" ng-controller="Controller">
        
        <div class="contianer-fluid" >
        <div class="row-fluid">
        
            <div data-import-csv="project.training">drag here</div>
            
            <form ng-submit="upload();">
                <input ng-model="project.profile.name" type="text"/>
                <button>upload current project</button>
            </form>
            
            <table>
                <thead>
                    <th>Labels Human</th>
                    <th>Labels Machine</th>
                    <th ng-repeat="column in project.training.head track by $index">{{column.label}}</th>
                </thead>
                <tbody>
                    <tr ng-repeat="row in project.training.body track by $index">
                        <td>
                            <ul class="Labels Human">
                                <li
                                ng-repeat="label in row.label.human track by $index"
                                ng-class="{'Active':row.label.human[$index] != false}"
                                ng-click="row.label.human[$index] = !row.label.human[$index]"></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="Labels Machine">
                                <li ng-repeat="label in row.label.machine track by $index"></li>
                            </ul>
                        </td>
                        <td ng-repeat="cell in row.data track by $index">{{cell}}</td>
                    </tr>
                </tbody>
            </table>
        
        </div>
        </div>
        
        
    </body>

</html>